<div class="container">
  <h1>List of Books</h1>

  <% @books.each do |book| %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <p class="panel-heading"><strong><%= link_to book.book_name, book_chapters_path(book) %></strong></p><br>
        <p class="panel-body"><%= book.book_description %></p><br>
        <%= link_to 'edit', edit_book_path(book) %>
      </div>
    </div>
  </div>
  <% end %>

  <%= link_to 'Create new book', new_book_path %>
</div>
